$red: #f00;
$green: #0f0;
$yellow: #ff0;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  background: #000 url('../img/double-bubble-dark.png') repeat;
  font-size: 1.9rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  margin: 10rem auto;
  border-radius: 5px;
  background: #fff;
  padding: 2.5rem;
}

header {
  .actionsForm {
    display: flex;
  }

  .actionsForm section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(20% - 2.5rem);
    margin: 0 1.5rem;
  }

  .actionsForm section > * {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }

  input[type='checkbox'] {
    width: auto;
  }

  button,
  input[type='checkbox'] {
    cursor: pointer;
  }

  button {
    border: none;
    border-radius: 0;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

    &.red {
      background: lighten($red, 25);
      color: #fff;
      &:hover {
        background: lighten($red, 5);
      }
      &:active {
        background: darken($red, 5);
      }
    }

    &.green {
      background: lighten($green, 25);
      &:hover {
        background: lighten($green, 5);
      }
      &:active {
        background: darken($green, 5);
      }
    }

    &.yellow {
      background: lighten($yellow, 25);
      &:hover {
        background: lighten($yellow, 5);
      }
      &:active {
        background: darken($yellow, 5);
      }
    }

    &:active {
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5rem 0;

  section {
    flex-basis: 100%;
  }

  div,
  section,
  input {
    margin: 0.5rem 0;
    border-radius: 5px;
  }

  .textScreen,
  .textInputSection {
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex-basis: 100%;
    }
  }

  .textScreen {
    .textContainer {
      border: 1px solid #444;
      padding: 2.5rem;
      max-height: 20rem;
      overflow-y: scroll;
    }
  }

  .textInputSection {
    .textInput {
      height: 5rem;
      padding: 0 2rem;
      border: 1px solid #444;
    }
  }
}
